.layout {
  display: flex;
  flex-direction: column;
  height: fit-content;

  .mainContent {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }

  .content {
    flex: 1;
    padding: 28px 24px 28px 24px;
    background: #f1f2f6;
    text-align: right;
    height: fit-content;
  }
}
